<!-- footer-area -->
<footer>
  <div class="footer-wrap">
    <div class="container">
      <div class="row g-0">
        <div class="col-3">
          <div class="footer-widget">
            <div class="footer-contact">
              <div class="footer-call">
                <div class="icon">
                  <i class="fab fa-whatsapp"></i>
                </div>
                <div class="content">
                  <span>Whatsapp Only</span>
                  <h6 class="title">
                    <a href="https://wa.me/6285122362273?text=Halo"
                      >0851-2236-2273</a
                    >
                  </h6>
                </div>
              </div>
              <h6 class="title">Email kami</h6>
              <p>bantuan@dalonet.com</p>
              <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="footer-widget">
            <div class="fw-title">
              <h4 class="title">Halaman</h4>
            </div>
            <ul class="fw-list">
              <li><a href="/layanan">Layanan</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="footer-widget">
            <div class="fw-title">
              <h4 class="title">Tentang Kami</h4>
            </div>
            <ul class="fw-list">
              <li><a href="/tentang-kami">Tentang Kami</a></li>
              <li><a href="/hubungi-kami">Kontak Kami</a></li>
              <li><a href="/kebijakan-privasi">Kebijakan Privasi</a></li>
              <li><a href="/syarat-dan-ketentuan">Syarat & Ketentuan</a></li>
            </ul>
          </div>
        </div>
        <div class="col-1">
          <div class="footer-widget">
            <div class="fw-title">
              <h4 class="title">Jam Operasional</h4>
            </div>
            <ul class="fw-schedule-list">
              <li>Senin - Kamis<span>09:00 - 18:00</span></li>
              <li>Jum'at <span>09:00 - 14:00</span></li>
              <li>Sabtu - Minggu <span>09:00 - 12:00</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="footer-logo">
            <a href="/index"
              ><img src="{{ site.baseurl }}/assets/imgs/logo/w_logo.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="copyright-text text-center text-md-end">
            <p>
              © 2016-<span id="year"></span>
              <a href="https://dalonet.com" target="_blank"
                >PT. Dalahas Local Network</a
              >
              - All Right Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-area-end -->
